#logo {
    max-width: 150px;
    max-height: 150px;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    box-shadow: none !important;
    
}

/*input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline:none;
    box-shadow:none;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}*/